
/* TVs */
@media screen and (min-width:1440px){
    .inscricao-right{
    margin-top: 0%;
    transform:translateY(-90%);
    height: 30vh;
}


#botao{
    display: block;
}

.frase-left h2{
    position: absolute;
    top:15%;
   
}

.formulario{

    margin-left: 50%;
    transform: translateX(-50%);
}

}
@media screen and (min-width:1500px){
.inscricao-right{
    margin-top:0%;
    transform:translateY(-90%);
    height: 30vh;
}
.frase-left h2{
    position: absolute;
    top: 10%;
   
}

.cabeçalho-right{
    margin-top: 30%;
}
}


@media screen and (min-width:1900px){
.frase-left h2{
    position: absolute;
    top: 8%;
   
}
}

/* Media Resoluções Telas pcs */

@media screen and (max-width:959px){




.frase-right h1{
    display: inline-block;
    margin-bottom: 20px;

}
.inscricao-left{
    display: none;
}

.inscricao-right{
    
float: none;
width: 50%;
height:50vh ;

}

.cabeçalho-right{
 display: none;
}
.responsive-layout{
display:inline-block;
text-align: right;
width: 200px;
margin-left: 65%;
margin-top: 20px;
font-size:0.8em;

}

#botao{

height: 40px;

margin-top:40px;
width:22.3em ;

}



body{
margin-left:50%;
margin-top: 25em;
transform: translateX(-50%)
}

}


/* TABLETS E TELAS ADAPTAVEIS */




@media screen and (max-width:691px)
{
body{
    margin-left:45%;
    transform: translateX(-50%)
}

.responsive-layout{
    display:inline-block;
    text-align: right;
    width: 200px;
    margin-left: 65%;
    margin-top: 20px;
    font-size:0.8em;
    margin-bottom: 20px;
 
}


}
@media screen and (max-width:628px){
body{
    margin-left:43%;
    transform: translateX(-50%)
}
}

@media screen and (max-width:540px){
body{
    margin-left:40%;
    transform: translateX(-50%)
}
}

@media screen and (max-width:522px){

body{
    margin-left:37%;
    transform: translateX(-50%)
}
}
@media screen and (max-width:464px){

body{
    margin-left:36%;
    transform: translateX(-50%)
}
}


/* CELULARES */

@media screen and (max-width:425px){

body{
    margin-left:34%;
    transform: translateX(-50%)
}

.responsive-layout{
display:inline-block;
text-align: right;
width: 150px;
margin-left: 190%;

}

#name,#email,#password{
    width: 25em;
    height: 20px;
    padding: 10px;
    border-radius: 8px;
    border: 0;
    background: #eeeeee;
    margin-top:10px;
    margin-bottom: 40px;
    border: 1px solid #eeeeee;

    
}

#checkbox{
    width: 20px;
    height:20px;
    cursor:pointer;
    position: absolute;
    top:0px;
}
.check{
    display: inline-block;
    width: 22em;
    position: relative;
    

}
.container-email{
    display: inline-block;

}
.container-nome{
    display: inline-block;

}
.container-senha{
    display: inline-block;
}



}

@media screen and (max-width:411px){
body{
    margin-left:32.5%;
    transform: translateX(-50%)
}

}
@media screen and (max-width:350px){
body{
    margin-left:2%;
    transform: translateX(-0%)
}

}

@media screen and (max-width:390px){

body{
    margin-left:34%;
    transform: translateX(-50%)
}

#name,#email,#password{
    width: 22em;
    height: 20px;
    padding: 10px;
    border-radius: 8px;
    border: 0;
    background: #eeeeee;
    margin-top:10px;
    margin-bottom: 40px;
    border: 1px solid #eeeeee;

    
}

#checkbox{
    width: 21px;
    height:20px;
    cursor:pointer;
    position: absolute;
    top:0px;
    left:0;
}
.check{
    display: inline-block;
    width: 20em;
    position: relative;


}

.listbox{
    margin-top:3px;
     display: block;}

#botao{
    width: 20em;
}

.responsive-layout{
    display:inline-block;
    text-align: right;
    width: 150px;
    margin-left: 170%;
    
    }   
}


@media screen and (min-width: 320px) and (max-width: 389px){

body{
    margin-left:36.5%;
    transform: translateX(-50%)
}

.frase-right h2{
    width: 95%;

}

#name,#email,#password{
    width: 20em;
    height: 20px;
    padding: 10px;
    border-radius: 8px;
    border: 0;
    background: #eeeeee;
    margin-top:10px;
    margin-bottom: 40px;
    border: 1px solid #eeeeee;

    
}

#checkbox{
    width: 20px;
    height:20px;
    cursor:pointer;
    position: absolute;
    top:0px;
    left:0;
}
.check{
    display: inline-block;
    width: 19em;
    position: relative;


}

.listbox{
    margin-top:3px;
     display: block;}

#botao{
    width: 18em;
}



}



@media screen and (max-width:320px){
.inscricao-right{
    float: none;
}

body{
    margin-left:50%;
    transform: translateX(-100%)
}


.container-nome{
    display: inline-block;

}
.container-senha{
    display: inline-block;
}


.container-email{
    display: inline-block;

}
.check{
    display: inline-block;
}
.frase-right{
    display: inline-block;
    width:800%;
}


.frase-right h2{
    display: inline-block;
    width: 60%;
}

.responsive-layout{
    display:inline-block;
    text-align: right;
    width: 150px;
    margin-left: 200%;
    
    }  
}